# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/
backend/.venv/

# Django
*.log
db.sqlite3
backend/db.sqlite3
media/
staticfiles/

# Secrets / env files
.env
*.env
backend/secrets/
secrets/

# Django media uploads
media/
backend/media/
backend/vehicles/

# Uploaded media / user files
backend/vehicles/
backend/media/
media/

